.skills {
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 25%;
  text-align: center;
  /* width: 100%; */
}

.skills-title {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.skills-lists {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.inner-skills {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hard-skills, .soft-skills {
  background-color: rgb(0, 0, 0);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px;
  color:rgb(255, 255, 255);
  padding: 2.5em 3em 3em 3em;
}

/* https://getcssscan.com/css-box-shadow-examples */

.skills h3 {
  margin-top: 0;
}

.inner-skills {
  display: flex;
  width: 100%;
}

li {
  list-style: none;
  margin: .5em .5em 0 .5em;
  transition: all .2s ease-in-out;
}

.skill li:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1023px) {
  .skills {
    padding: 0;
    width: 100vw;
  }
  
  .skills-lists {
    flex-direction: column;
  }

  .hard-skills, .soft-skills {
    width: 30%;
    font-size: .8em;
    padding: 10px;
  }

  .soft-skills {
    margin-top: 20px;
  }

  .skills h3 {
    font-size: .8em;
  }

  .skills-title {
    font-size: 1.4em;
  }

  li {
    font-size: .8em;
  }
}
