footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
  align-items: center;
  display: flex;
  margin-left: 10px;
}

footer p {
  margin: 5px 10px;
}

@media screen and (max-width: 1024px) {
  footer {
    font-size: .8em
  };
}
